/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(74, 193, 217);  
    
    color:rgb(255, 255, 255);
    font: Verdana, Arial, Sans-Serif;}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}







header {
    color:whitesmoke(red, green, blue);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */
img.zweeflinks{
  float: left;
  margin-right:15px;
  padding:5px;
}
img.zweefrechts-onder {
    float: right;
  margin-bottom:15px;
  padding:5px 5px 5px 5px ;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #333333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}

/* producten stuk op pagina's */
.product {
  
}

/* */

img.shoes {
float:left;
  margin:auto;
  width:10%;
}


.schoenen {
  width: 290px;
  float: left;
  border: solid 2px #333333;
  height: 350px;
  margin:10px;
}
  

.kleren {
  width: 290px;
  float: left;
  border: solid 2px #333333;
  height: 350px;
  margin:10px;
}
.boards{
 width: 290px;
  float: left;
  border: solid 2px #333333;
  height: 350px;
  margin:10px;
}







.order {
  width: 250px;
  float: left;
  border: solid 2px white;
  height: 350px;
  margin: 10px; 
padding:15px 16px}

.price{}

.pics{
    width:290px;
  height:350px;
  margin:auto;
  float:left;
}

.monkey{
  width: 580px;
  height: 700px;
  
  margin: auto;
}









